.logo--image{
    border-style: double;
    border-color: black;
    border-radius: 5px;
}
.logo--title:hover{
        text-decoration: underline;   
}
.logo--title{
    font-family: cursive;
    font-weight: 700;
    font-size: x-large; 
}

.navbar--links{
    font-size: large;
    color: bisque;
    font-weight: 300;
}

.navbar{
    box-shadow: 3px 5px gray;
}