.logo--image{
    border-style: double;
    border-color: black;
    border-radius: 5px;
}
.logo--image:hover{
    box-shadow: 2px 2px rgb(212, 204, 204);
}
.logo--title:hover{
        text-shadow: 2px 2px rgb(212, 204, 204);  
}
.logo--title{
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-size: x-large; 
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.navbar--links{
    font-size: x-large;
    color: bisque;
    font-weight: 300;
    font-family: "Bebas Neue", sans-serif;
    background:rgba(0, 0, 0, 0.5);
    padding:10px 20px;
    text-decoration:none;
    letter-spacing:2px;
}

.navbar--links:hover{
    border:none;
    background:rgba(196, 116, 36, 0.4);
    background:#fff;
    padding:20px 20px;
    color:#1b1b1b;
  }

.navbar{
    box-shadow: 3px 5px rgb(71, 70, 70);
}

.navbar--2{
    display: flex;
    background-color: white;
    margin: 1em;
    padding: 1em;
    justify-content: space-around;
    border-radius: 1em;
}

.phone-number{
    font-size: 25px;
    text-decoration: none;
    color: orangered;
}

.phone-number:hover{
    text-decoration: underline;
    font-weight: bolder;
}

@media screen and (max-width: 576px) {
    .logo--title{
        display: none
    }
    .navbar--2{
        flex-direction: column;
    }
    .navbar-quote, .navbar--callus, .phone-number{
        font-size: 22px;
    }
}

  
